//colors
$body-bg:#f8f9fb;
$secondary:#009F56;
$primary-font-color:#282828;
$text-gray: #6A6B6B;
$purple:#392947;
$border-gray:#E9EAEB;
$sidemenu-list-title: #CCCAD9;
$sidemenu-list-divider: #CCCAD9;
$sidemenu-header-border:#E9EAEB;
$header-border:#E9EAEB;
$sd-menu-active:#5C4A77;

//inputs
$input-border-color: #A4A5A6;

//Button
$primary-button-color:#392947;
$primary-button-color-hover:#5C4A77;
$button-inactive:#E9EAEB;


//fonts
$font-noto-sans:'Noto Sans', sans-serif;